.navbar-div > nav > ul > li  {
    display: inline-block;
    padding: 10px 10px;
}
.navbar-div > nav > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.navbar-div > nav > ul > li:hover  {
    text-decoration: underline;
}
.about {
    margin-left: 50px;
    margin-top: 100px;
}
.Home {
    background-color: rgb(246, 247, 247);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: red;
}
.card-container {
    display: grid;
    grid-template-columns:300px 600px;
    width:90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    column-gap: 20px;  
}
.card-container > #project-card {
    height: max-content;
}
#about-card{
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: rgb(246, 247, 247);
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(119, 0, 255);
}
#about-card > h2 {display: inline-block;margin-top: 5px;}
#about-card > h2::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, blue, red);
    height: 4px;
    width: 69px;
    top: 46px;
    left: 15px;
}
#about-card > p {text-align: left;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 13px;text-align: justify;}
#project-card{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: rgb(246, 247, 247);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(119, 0, 255);
}
#project-card >h2 {
    margin: 5px 0px 0px 0px;
    
}
#project-card >h2::after  {
    content: "";
    height: 10px;
    width: 10px;
    background: linear-gradient(to right, blue, red);
    position: absolute;
    top: 47px;
    left: 16px;
    height: 4px;
    width: 83px;
    

}
#project-card {
    padding: 15px;
    position: relative;
}
.card-2 {
    display: grid;
    grid-template-columns:1fr 1fr;
    margin-top: 15px;
    column-gap: 10px;
    row-gap: 15px;
}
.card-2 > .one > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-2 > .one {
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: color 0.40s, background-color 0.40s;  
}
.card-2 > .one:hover {background-color: rebeccapurple;}
.card-2 > .one > p > #same {
    text-decoration: none;
    color: black;
} 
.card-2 > .one:hover #same {
    color: white;
}



