.navbar-div > nav > ul > li  {
    display: inline-block;
    padding: 10px 10px;
}
.navbar-div > nav > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.navbar-div > nav > ul > li:hover  {
    text-decoration: underline;
}
.about {
    margin-left: 50px;
    margin-top: 100px;
}
.Home {
    background-color: rgb(246, 247, 247);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: red;
}
.card-container {
    display: grid;
    grid-template-columns:300px 1fr 1fr;
    width:90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    column-gap: 20px;  
}
#about-card{
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: rgb(246, 247, 247);
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(119, 0, 255);
}
#about-card > h2 {display: inline-block;margin-top: 5px;}
#about-card > h2::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, blue, red);
    height: 4px;
    width: 69px;
    top: 46px;
    left: 15px;
}
#about-card > p {text-align: left;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 13px;text-align: justify;}
#project-card,#contact-card {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: rgb(246, 247, 247);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(119, 0, 255);
}
