@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
}
:root {
    /* colors */
    --green-500:hsl(158, 36%, 37%);
    --green-700:hsl(158, 42%, 18%);
    --black:hsl(212, 21%, 14%);
    --gray:hsl(228, 12%, 48%);
    --cream:hsl(30, 38%, 92%);
    --white:hsl(0, 0%, 100%);
    /* font weight */
    --weight-500: 500;
    --weight-700: 700;
    /* font family */
    --Montserrat:"Montserrat", sans-serif;
    --Fraunces:"Fraunces", serif;
    /* font size */
    --font-size-14px: 14px;
}
body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);

}
.img2 {
    display: none;
}
.img1 {
    display: block;
    width: 100%;

}
#card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 600px;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 10px;
}
.product-contant {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 110%;
}
.title {
    font-family: var(--Fraunces);
}
.catagory,.description {
    font-family: var(--Montserrat);
    font-size: var(--font-size-14px);
    color: var(--gray);
}.catagory {letter-spacing: 7px;font-weight: var(--weight-500);}
.end {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
button{
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: var(--green-500);
    border: none;
    border-radius: 5px;
    position: relative;
}
.img3{
    position: absolute;
    left: 59px;
    top: 13px;
}
button > span {
    font-family: var(--Montserrat);
    color: var(--white);
    font-weight: var(--weight-500);
}
button:active {background-color: var(--green-700);}button:hover {cursor: pointer;}
.price-now {
    font-family: var(--Fraunces);
    color: var(--green-500);
    font-size: 30px;
    font-weight: var(--weight-700);
}
.price-prev {
    font-family: var(--Montserrat);
    color: var(--gray);
    font-size: 13px;
    padding-top: 7px;
    padding-left: 15px;
}
.end > p {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
@media(max-width:600px){
    #card-container {
        grid-template-columns: 1fr;

    }
    .img1 {
        display: none;
    }
    .img2{
        display: block;
        width: 100%;
        max-height: 260px;
        object-fit: cover;
        object-position: center;
    }
}

